<link rel="stylesheet" href="/css/main.css">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me - Climate Solutions</title>
    <link href="/css/main.css" rel="stylesheet">
</head>
<body class="bg-base-100 text-base-content">

<%- include('partials/navbar', { page: '/about' }) %>

    </script>
    <header class="text-center py-12 bg-white rounded-lg mx-10 mt-6 shadow-lg">
        <h1 class="text-5xl font-bold">About</h1>
        <p class="mt-2 text-lg text-black-300">Everything you want to know about me – the designer & developer.</p>
    </header>

    <section class="max-w-7xl mx-auto mt-12 p-6 grid grid-cols-1 md:grid-cols-2 gap-10 items-center">
        
        <div>
            <img src="https://educationsnapshots.com/wp-content/uploads/sites/4/2022/01/seneca-college-newnham-campus-food-hall-3.jpg" alt="Your Photo" class="w-full h-auto rounded-lg shadow-lg">
        </div>

        <div class="text-left max-w-lg">
            <h2 class="text-2xl font-bold mb-2">My name is Siyang Jiang and I'm currently studying at Seneca Polytechnic.</h2>
            <p class="text-black-300">
                I'm passionate about web development and climate solutions. In my free time, I enjoy coding, exploring new technologies, and learning about sustainability. This project showcases climate solutions that can make a difference in our world.
            </p>
            </p>
        </div>

    </section>

</body>
</html>
